/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 11, 2014, 9:27:28 PM
*/
    #map_canvas{
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 50%;
	width: 100%;
	z-index: 10;
    margin: 0;
    padding: 0;
} 

	#msgContainer{
    border: 1px solid #a1a1a1;
    padding: 1px 1px; 
    background: #dddddd;
	height: 300px;
    width: 100%;
    border-radius: 5px;
	overflow:scroll;
}