/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 11, 2014, 9:27:28 PM
*/
    #map_canvas{
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 50%;
	width: 100%;
	z-index: 10;
    margin: 0;
    padding: 0;
} 

#msgContainer{
    
}

.onemessage{
	border: 2px solid #ccc;
	border-radius: 3px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	overflow: hidden;;
	margin-bottom: 4px;
	padding: 2px;
}
.onemessage:hover{
	cursor: pointer;
}
.msgButton{
	background-color: #bbb;	
	padding: 2px;
	text-size: 16px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	margin-left: 3px;
	margin-right: 3px;
}
.msgButton:hover{
	background-color: #ccc;	
}
.newMsg{
	color: red;
}