/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 11, 2014, 9:25:36 PM
    Author     : Shane
*/
ul
{
	list-style-type: none;
	margin: 2;
	padding: 2;
	overflow: hidden;
	text-align: right;
}
li
{
	float: inherit;
	text-align: left;
}
a:link,a:visited
{
display:inline;
font-weight:bold;
color:#FFFFFF;
background-color:#232323;
text-align:center;
text-decoration:none;
text-transform:uppercase;
}
a:hover,a:active
{
	color: #4C507E;
}
body {
	font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12; color: #ECEDF3; background-color: #232323;
	
}

button{
	font-size: 14px;	
}

#logo{position: fixed; right: 0px; top: 30px; width: 150px; z-index: 20}

#main{
	position: absolute;
	right: 0px;
	top: 0px;
	bottom: 0px;
	width: 49%;
	min-width: 300px;
	padding: 5px;
	z-index: 11;
	background-color: #232323;
}

#menubar{
	padding-top: 3px;
	position: absolute;
	height: 24px;
	right: 0px;
	width: 100%;	
	border-bottom: 2px #999 solid;
}

#menubar a{
	padding: 4px;
	background-color: #494242;	
	border: 1px solid #847272;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
		
}

#menubar a:hover{
	background-color: #ccc;
}


#content{
	padding: 10px;	
	position: absolute;
	top: 35px;
	bottom: 20px;
	width: 95%;
}

#optiondiv{
	position: absolute;
	left: 0px;
	font-size: 16px;	
}
#optiondiv tr select, input{
	width: 175px;	
}

#optiondiv select,input{
	font-size: 18px;
	height: 25px;	
}

.defaulttable tr{
	height: 28px;
}

#searcherwrapper{
	position: absolute;
	top: 200px;
	bottom: 40px;
	right: 0px;
	width: 45%;
	background-color: #666;
	overflow: auto;
	font-size:14px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	padding: 2px;
}

#searcherlist{
	
}

#searcherlist .searcher{
	padding: 3px;
	background-color: #781F20;	
	height: 40px;
	text-align: center;
	margin: 2px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
#searcherlist .searcher:hover{
	cursor: pointer;	
}

.buttonNameStyle{
	float: left;
}

.buttonInfoStyle{
	float: right;	
}

#searchAreaBox{
 

	height:400px; 
	background-color:#232323;
	position: fixed;
	z-index: 20;
	background-color: #444;
	height: 400px;
	width: 367px;
	left: 432px;
	bottom: -375px;
	border-radius: 5px;	
}


/*Fixed items*/
#info{
	position: fixed;
	right: 0px;
	top: 0px;	
}

#floatNote{
	position: fixed;
	right: 0px;
	bottom: 0px;
	color: red;	
	z-Index: 50;
	Padding: 3px;
}

.pointData{
	color: black;
	position: fixed;
	left: 5px;	
	z-Index: 20;
}

#pointsLoaded{
	top: 35px;	
}
#pointsShowing{
	top: 50px;
}

#cursorLocation{
	position: fixed;
	left: 300px;
	top: 1 	px;
	color: red;	
	z-Index: 50;
	Padding: 3px;
}


#searchform{
	position: absolute;
	left: 0px;
	z-index: 20;
	padding: 1px;
	background-color: #232323;
}

#map_canvas{
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 100%;
	width: 50%;
	z-index: 10;
}

#newsearchtable{
	position: relative;
	left: 100px;
	font-size: 14px;	
}

#newsearchtable td{
	width: 40%;
}

#newteamtable{
	position: relative;
	left: 100px;
	font-size: 14px;	
}

#newteamtable td{
	width: 40%;
}

/*Weather stuff*/

#outer_weather_box{
	position: fixed;
	z-index: 20;
	background-color: #444;
	height: 300px;
	width: 428px;
	left: 2px;
	bottom: -275px;
	border-radius: 5px;
}

.weathershow{
	display: none;
}

.weathercursor:hover{
	cursor: pointer;	
}

.overlay {
	left: 30%;
	display:none;
	z-index:10000;
	width:675px;	
	min-height:300px;
	padding: 10px;
	background-color: #555;
	color: white;
	border: 3px solid #ddd;
	
	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 90px 5px #333;
	-webkit-box-shadow: 0 0 90px #333;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;	
}

.overlay .close{
	padding: 3px;
	border: 2px solid #fff;
	float: right;
	cursor: pointer;	
}
.overlay2 {
	left: 30%;
	display:none;
	z-index:10000;
	width:675px;	
	min-height:200px;
	padding: 10px;
	background-color: #555;
	color: white;
	border: 3px solid #ddd;

	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 90px 5px #333;
	-webkit-box-shadow: 0 0 90px #333;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;	
}

.overlay2 .close{
	padding: 3px;
	border: 2px solid #fff;
	float: right;
	cursor: pointer;	
}